/* *******************************Left */
.left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 30%;
  margin:50px;
}

.left h1, .left h3, .left h4{
  color:var(--color-white-chevy);
}

.left h1{
  margin: initial;
}

/* *******************************Right */

.right{
  position: relative;
  background: #FFFFFFA1 0% 0% no-repeat padding-box;
  box-shadow: 7px 3px 6px #000000C4;
  padding:20px;
  width: 30%;
  height: min-content;
  margin:50px;
}

.right .center h2{
  color:var(--color-gray-dark-chevy);
  margin: initial;
  padding-top: 10px;
}

.right .center h3{
  color: var(--color-gray-darker-chevy);
  padding-bottom: 10px;
  font-size: 16px;
}

/* *******************************Containers */
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.411);
  height: 100vh;
  width: 100vw;
}

.container-f{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-2 {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.container-3{
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

.container-3 h5{
  color: var(--color-gray-dark-chevy);
}

.center{
  text-align:center;
}

/* *******************************Button */
button{
  position: relative;
  background-color:var(--color-blue-chevy);
  color: var(--color-white-chevy);
  width: 50%;
  height: 50px;
  padding: 5px;
  cursor: pointer;
}

button:active{
  background-color:var(--color-blue-chevy);
  color: var(--color-white-chevy);
}

button:hover{
  background-color: var(--color-purple-chevy);
  color: var(--color-white-chevy);
}

button:disabled{
  background-color: var(--color-gray-chevy);
  color: var(--color-gray-light-chevy);
}

button-text{
  background: red;
  padding-top: 0px;
}
/* *******************************Input */
input{
  position: relative;
  border-bottom: 3px solid var(--color-gray-chevy);
  border-radius: 5px;
  font-size: 16px;
  height: var(--height-normal);
  width: auto;
  padding: 0px 5px;
  box-sizing: border-box;
  cursor: pointer;
}

input::placeholder{
  font-size: 15px;
}

input:hover,
input:active
{
  border-bottom: 3px solid var(--color-blue-chevy);
}

input:invalid{
  border-bottom: 3px solid var(--color-red-chevy);
}

.input-1{
  width: 100%;
}

.input-2 {
  width: 50%;
}

/* *******************************Select */

select{
  color: var(--color-gray-chevy);
  height: var(--height-normal);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  border-bottom: 3px solid var(--color-gray-chevy);
}

.select-custom{
  margin-right: 10px;
  overflow: hidden;
}

select:hover{
  border-bottom: 3px solid var(--color-blue-chevy);
}

.select-custom select{
  width: 170px;
}

.alert-danger{
  color:var(--color-red-chevy);
  font-size: 14px;
  margin:0;
  padding: 0;
}

