<div class="container">
  <div class="left">
    <h1>Plan Programate</h1>
    <h3>Ahora tú planeas cuándo serás adjudicado para tu nuevo vehículo Chevrolet</h3>
  </div>
  <div class="right">
    <div class="center">
      <h2>¿QUÉ ESPERAS PARA CUMPLIR TU SUEÑO?</h2>
      <h3>Deja tus datos y nos comunicaremos contigo</h3>
    </div>
    <form (ngSubmit)="onSaveProspect(f)" #f="ngForm">
      <div class="container-2">
          <input
          type="text"
          name="name"
          placeholder="Nombre Completo" autocomplete="name"
          inputmode="text"
          class="form-control"
          ngModel
          autofocus
          required
          pattern="\b[ñáéíóúÁÉÍÓÚÑa-zA-Z ]+\b"
          #name>
      </div>
      <div class="container-2">
        <div class="select-custom">
          <select  required class="form-control" name="documentType" required ngModel >
            <option disabled selected hidden>Tipo de Documento</option>
            <option
            *ngFor="let doc of documentTypes" [value]="doc"> {{doc}} </option>
          </select>
        </div>
      <div class="container-2">
        <input
        type="tel"
        placeholder="Número de Documento" inputmode="numeric"
        name="documentId"
        class="form-control"
        pattern="[\d]{6,10}"
        required
        ngModel>
      </div>
      </div>
      <div class="container-2">
        <div class="select-custom">
          <select
          class="form-control"
          name="country"
          ngModel
          required
          #country>
            <option
            disabled
            selected
            hidden>País</option>
            <option *ngFor="let country of countries" [value]="country"> {{country.name}} </option>
          </select>
        </div>
        <div class="container-2">
          <input
          type="tel"
          placeholder="Celular" autocomplete="tel"
          name="phoneNumber"
          inputmode="tel"
          class="form-control"
          pattern="[\d]{10}"
          ngModel
          required
          #phone>
        </div>
      </div>
      <div class="container-2">
        <input
        type="email"
        placeholder="Correo Electrónico"
        name="email"
        autocomplete="email"
        inputmode="email"
        class="form-control"
        pattern="[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        required
        ngModel
        #email>
      </div>
      <div class="container-3">
          <input
          type="checkbox"
          class="form-control"
          name="acceptTerms"
          required
          ngModel >
          <h5>Leí y acepto condiciones de la <a href="https://www.chevyplan.com.co/SitePages/privacidad.aspx">política de privacidad</a></h5>
      </div>
      <div class="container-2">
        <button
        class="btn center"
        [disabled]="!f.valid">ENVIAR</button>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
