/* You can add global styles to this file, and also import other style files */

:root{

  /* *******************************Color */
  --color-blue-chevy: #154289;
  --color-red-chevy:#942D46;
  --color-purple-chevy:#6B3176;
  --color-gray-darker-chevy:#232323;
  --color-gray-dark-chevy:#4A4A4A;
  --color-gray-chevy:#707070;
  --color-gray-light-chevy:#E1E1E1;
  --color-white-chevy:#ffffff;

  /* *******************************Shadows */
  --shadow: 7px 3px 6px rgba(0, 0, 0, 0.226);
  /* *******************************width */
  --width-single: 360px;
  --width-double: 180px;
  /* *******************************Spaces */
  --space-single: 20px;
  --space-double: 40px;

  /* *******************************Height */
  --height-normal: 35px;
}

body{
  margin:0px;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
/* -------------------------background */
  background: url('../src/assets/img/viagem.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/* -------------------------background */
}

/* *******************************Headings */
h1{
  font-style: italic;
  font-size: 36px 2.25rem;
  font-weight: bold;
  color:var(--color-gray-darker-chevy);
}
h2{
  font-size:20px 1.25rem ;
  font-weight: bold;
  font-style: italic;
  color:var(--color-gray-darker-chevy);
}
h3{
  font-size: 16px 1rem;
  font-weight: normal;
  color:var(--color-gray-chevy);
}
h4{
  font-size: 15px 0.93rem;
  font-weight: normal;
  color:var(--color-gray-chevy);
}
h5{
  font-size: 14px 0.85rem;
  font-weight: normal;
  color:var(--color-gray-chevy);
}
